body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
}
.container {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  width: 400px;
  margin: 100px auto 0;
}

.input-data {
  padding: 20px 0px;
}

.input-data > input {
  padding-left: 10px;
  height: 1.5rem;
  width: 15rem;
  border: 2px solid rgb(168, 168, 168);
  border-radius: 5%;
}

.input-data > button {
  margin-left: 1.5rem;
  width: 5rem;
  height: 1.75rem;
  font-weight: 700;
  border: none;
  background-color: #ff7060;
  box-shadow: 2px 2px rgba(255, 111, 95, 0.5);
  border-radius: 5%;
}

.input-data > button:active {
  box-shadow: none;
}

.f-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

.ops > .done {
    margin-left: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
}

.ops {
  display: flex;
}

.ops > button {
  margin-left: 1.5rem;
  /* width: rem; */
  height: 1.5rem;
  font-weight: 700;
  border: none;
  background-color: #ff1900;
  box-shadow: 2px 2px rgba(255, 111, 95, 0.5);
  border-radius: 5%;
}

.incomplete , .complete {
  margin-top: 20px;  
} 

h3 {
  margin-left: 1.5rem;
  color: red;
}